# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code Jupyter files
.virtual_documents/

# Ignore all anaconda project folders
**/anaconda_projects/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd